body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;

}

/* ********* Home Page ********** */
.home{
  height: 100vh;
  width: 100%;
  background-color: #c4b6f6;
    /* height: 100vh;
    width: 100%; */
    display: flex;
  
    align-items: center;
     justify-content:space-around;

}


.home-left img{
    /* max-width: 100%; 
  height: auto; */
    width: 30vw;
}

.home-right{
    text-align: center;
}

.home-right p{
    max-width: 600px;
}

@media screen and (max-width:793px) {
    .home-left img{
        width: 256px;
        
    }

    .home{
        flex-direction: column;
        justify-content:center;
    }
}

.home img{
margin-top: 0px;
max-width: 100%; 
 max-height: 100%;
}

.text-container {
    position: relative;
    font-size: 24px;
    color: #333;
  }
  
  .text-container h1 {
    white-space: nowrap;
    overflow: hidden;
    animation:  write 3s steps(20) forwards;
  }

  @keyframes write {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }

    10% {
        width: 10%;
      }
      20% {
        width: 20%;
      }
  }

.life-section{
    background-color: #2001a2;
    margin-bottom: 0px;
}

.work-section{
    margin-top: -4px;
}

.music-section{
    margin-top: -4px;
}
.music-btn{
    background-color: #e0a96d;
    border: 1px solid black;

}

.music-btn:hover{
    border: 2px solid black;
    cursor: pointer;
}

/* ********* wavy background **************** */
.wave1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.wave1 .shape-fill {
    fill: #CCCCFF;
}

/* ********** wave 2 ******** */
.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.wave2 .shape-fill {
    fill: #ffffff;
}


/* ************* Flex box for life work and music ****** */

.flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    
}

.fb2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    
}
.img-left{
    text-align: center;
   
}
.text{
   max-width: 500px;
    
}
.img-right img{
    height: 400px;
    width: 350px;
    margin-left: 50px;

}

/*  ************* cxo ********** */


.d-flex{
    justify-content:space-evenly;
}

.content-flex{
    max-width: 500px;
    
}

.img-flex img{
    max-height: 400px;
    max-width: 550px;
}

@media screen and (max-width:800px) {
    .cxo img{
    width: 80vw;
    }
}

/* ********** ment-toon ************ */
.ment-toon{
    margin-top: 20px;
    /* background-color: #9ad9dbcd; */
}

.ment-toon .flex-box{
    margin-bottom: 0px;
}

.mentoon-toonland{
    margin-top: 30px;
    /* background-color: #cc9d90cd; */
    background-color: white;
    margin: 20px 30px;
    padding-bottom: 0px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgb(60, 56, 56);
    transition: all 0.5s ease-in-out;

}

.mentoon-toonland:hover{
    cursor: pointer;
    /* box-shadow:14px 14px 8px; */
    transform: scale3d(1.3, 1.2, 0.3);
}

@media screen and (max-width:700px){
    .mentoon-toonland:hover{
        cursor: pointer;
        box-shadow:14px 14px 8px;
        transform:none;
    }
}

.content-men-toon{
    text-align: center;
   max-width: 502px;
   padding-bottom: 0px;
   background-color: #ccffd2;
}

/* ***************** Home image ************* */



@media screen and (max-width:900px){
   .fb2{
        flex-direction: column-reverse;
   }
}


.flex-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.left-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-contact{
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 30px;
    margin-top: 2vh;
    border-radius: 20px;
    margin-left: 10vw;

  }

  .fc{
    /* margin: 20px; */
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  form .fc input,textarea,button{
    padding: 7px;
    border-radius: 7px;
    opacity: 0.9;
    font-size: 15px;
    border: 3px solid black;
    /* box-shadow: 4px 4px 7px grey; */
  }

 
  @media screen and (max-width:758px)  {
    .right-contact{
        margin-left: 0vw;
      }
  }

  @media screen and (max-width:766px){
        .left-contact{
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 10px;
        }

        .left-contact h3{
            display: none;
        }
  }
  /* ************ Icons *************  */

  i{
    font-size: 40px;
    padding-bottom: 10px;
    color: rgb(156, 200, 218);
  }

  .icon{
    margin-bottom: 10px;
  }

  .email2{
    padding-left: 50px;
  }

  .lnk{
    padding-left: 17px;
  }

  .lnk a{
    text-decoration: none;
    color: #333;
  }
  .email input , .message textarea{
    width: 100%;
  }

  form button{
    background-color: rgb(156, 200, 218);
    font-weight: bolder;
    font-size: large;
  }

  footer{
    font-size: large;
  }

  .more-work{
    display: none;
    margin-bottom: 10px;
  }

  .more-work-btn{
    text-align: center;
    margin-bottom: 15px;
  }
  .more-work-btn button{ 
    border: 1px solid black;
    background-color: #CCCCFF;
    font-size: large;
  }

  .more-work-btn button:hover{
    background-color:#7b7be7;
    border: 2px solid black;
  }


@media screen and (max-width:801px){
    .even{
       flex-direction: column-reverse;
    }    
}


@media screen and (min-width: 500px) and (max-width: 1000px) {
    .brain img{
        width: 170px;
        
    }

  }

  @media screen and (max-width:801px){
    .content-flex{
        margin-top: 10px;
    }
  }

  @media screen and (max-width:900px) {
    .img-right img{
        margin-left: 0px;
        width: 350px;
    }
  }

  
  @media screen and (max-width:360px) {
    .img-right img{
        width: 250px;
    }
  }

  @media screen and (max-width:585px) {
    .mentoon-toonland img{
        width: 300px;
    }
  }

  @media screen and (max-width:320px) {
    .mentoon-toonland img{
        width: 200px;
    }
  }

  /* **************** music images ********** */

  .more-music{
    background-color: #ffffff;
    margin-top: 0;
  }

  .image-flex-box img{
    width: 400px;
    height: 400px;
    margin-bottom: 15px;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

}

.image-flex-box img:hover{
    box-shadow: 10px 10px 10px grey;
}

#photos{
    display: none;
}
.image-flex-box{
  margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.close-btn button{
  border: 1px solid black;
}

/* .first{
  float: left;
}
.second{
  float: right;
  position: sticky;
}

.music-home img{
  height: 150px;
  width: 150px;
} */
